<a href="https://colab.research.google.com/github/balajeviswanaathanms/AIML/blob/master/Balaje_Bank_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("input"))

# Any results you write to the current directory are saved as output.
#set the array presision 
np.set_printoptions(precision=2)
np.set_printoptions(suppress=True)

FileNotFoundError: ignored

# New Section

# New Section

In [5]:
#Read the dataset
# Now it's time to import the file and check your informations.

dataset = pd.read_csv('bank.csv')

dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

#First 3 columns are unique value , so remving these columns

In [8]:
dataset.shape
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [0]:
#Drop the columns which are unique for all users like IDs (2.5 points)
x=dataset.iloc[:,3:13]
y=dataset.iloc[:,13]

In [0]:
x.head()

   CreditScore Geography       ...        IsActiveMember  EstimatedSalary
0          619    France       ...                     1        101348.88
1          608     Spain       ...                     1        112542.58
2          502    France       ...                     0        113931.57
3          699    France       ...                     0         93826.63
4          850     Spain       ...                     1         79084.10

[5 rows x 10 columns]

In [10]:
type(x)

pandas.core.frame.DataFrame

In [11]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
dtypes: float64(2), int64(6), object(2)
memory usage: 781.3+ KB

In [12]:
x.iloc[:, 1].head()

0    France
1     Spain
2    France
3    France
4     Spain
Name: Geography, dtype: object

#convert object to str

In [0]:
x["Geography"] = x["Geography"].astype('str')
x["Gender"] = x["Gender"].astype('str')

In [14]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
dtypes: float64(2), int64(6), object(2)
memory usage: 781.3+ KB

In [0]:
#encode the Geography coloun - not used labledencoder library 
cat_list = pd.get_dummies(x.iloc[:,1], prefix="Geo")

In [0]:
x=x.join(cat_list)

In [17]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Geo_France         10000 non-null uint8
Geo_Germany        10000 non-null uint8
Geo_Spain          10000 non-null uint8
dtypes: float64(2), int64(6), object(2), uint8(3)
memory usage: 810.6+ KB

In [0]:
#encode the Gender
x['gender_n'] = np.where(x['Gender'] == 'Female', 0, 1)

In [0]:
#copy to another dataset for reuse
x1=x

In [0]:
#droped the unwanted columns - avoid dummy variable trap
x=x.drop(["Geography","Gender","Geo_Spain"], axis=1)

In [21]:
x1.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geo_France,Geo_Germany,Geo_Spain,gender_n
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,1,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [22]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geo_France,Geo_Germany,gender_n
0,619,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0

In [0]:
#data_var=x.columns.values.tolist()
#data=[i for i in data_var if i not in "Geography"]

In [0]:
# Encoding categorical data
  #from sklearn.preprocessing import LabelEncoder, OneHotEncoder
#encode the Geography column
#labelencoder_x_1 = LabelEncoder()
#x.iloc[:, 1] = labelencoder_x_1.fit_transform(x.iloc[:, 1])

#encode the Gender column
#labelencoder_x_2 = LabelEncoder()
#x.iloc[:, 2] = labelencoder_x_2.fit_transform(x.iloc[:, 2])
#onehotencoder = OneHotEncoder(categorical_features = [1])
#x = onehotencoder.fit_transform(x).toarray()
#x = x[:,1:]

In [25]:
y.shape

(10000,)

In [0]:
# Now I will prepare my data before to start my Train and Test set.

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=0)

In [27]:
X_train.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geo_France,Geo_Germany,gender_n
7389,667,34,5,0.00,2,1,0,163830.64,0,0,0
9275,427,42,1,75681.52,1,1,1,57098.00,0,1,1
2995,535,29,2,112367.34,1,1,0,185630.76,1,0,0
5316,654,40,5,105683.63,1,1,0,173617.09,0,0,1
356,850,57,8,126776.30,2,1,1,132298.49,0,0,0

In [28]:
# For there isn't any proble with correlations between the values,
# I will aplly the "Feature Scaling".

from  sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  """

In [29]:
type(X_train)

numpy.ndarray

In [30]:
X_train.shape

(8000, 11)

In [31]:
type(y_train)
y_train.head()

7389    0
9275    0
2995    0
5316    0
356     0
Name: Exited, dtype: int64

In [32]:
# Firt of all: Let's import the Keras libraries and packages.

import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [0]:
# inicializing the ANN.
classifier = Sequential()

In [34]:
#add the input layer and the first hidden layer.

#classifier.add(Dense(output_dim=6, init='uniform', activation='relu', input_dim=11))
classifier.add(Dense(6,input_dim=11,init='uniform', activation='relu'))

# In "output_dim" I used a not best technique that is get the quantity of output plus input and divide by 2, so 11 + 1 / 2 = 6.
# In "Activiation" I used the best function for hidden layers: "relu".

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(6, input_dim=11, activation="relu", kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [35]:
# Adding the second layer.
#classifier.add(Dense(output_dim=6, init='uniform', activation='relu'))
# Note that this time I didn't insert the "input_dim" paramether, because now I Know how many input I have in my ANN.
classifier.add(Dense(6, init='uniform', activation='relu'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(6, activation="relu", kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [36]:
# Almost finish. Now I will add the output layer.
# In "output_dim" I put one because I have to guess only the clients who leaves the bank accounts.
# In "activation" I use the best function for it: "sigmoid"
#classifier.add(Dense(output_dim=1, init='uniform', activation='sigmoid'))

classifier.add(Dense(1, init='uniform', activation='sigmoid'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, activation="sigmoid", kernel_initializer="uniform")`

In [0]:
# Compiling the ANN.

classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# If I have more than one output, I would have to use in loss paramether other cross entropy.

In [38]:
# Let's do the ANN work for us!!!!

classifier.fit(X_train, y_train, batch_size=10, nb_epoch=100)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Epoch 1/100
8000/8000 [==============================] - 1s 178us/step - loss: 0.4944 - acc: 0.7954
Epoch 2/100
8000/8000 [==============================] - 1s 100us/step - loss: 0.4303 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4257 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4221 - acc: 0.7997
Epoch 5/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4187 - acc: 0.8205
Epoch 6/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.4162 - acc: 0.8270
Epoch 7/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4144 - acc: 0.8312
Epoch 8/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.4131 - acc: 0.8307
Epoch 9/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4117 - acc: 0.8311
Epoch 10/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4105 - acc: 0.8330
Epoch 11/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.4095 - acc: 0.8326
Epoch 12/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.4088 - acc: 0.8335
Epoch 13/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4079 - acc: 0.8335
Epoch 14/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4077 - acc: 0.8335
Epoch 15/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4070 - acc: 0.8336
Epoch 16/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.4065 - acc: 0.8344
Epoch 17/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4062 - acc: 0.8340
Epoch 18/100
8000/8000 [==============================] - 1s 99us/step - loss: 0.4052 - acc: 0.8331
Epoch 19/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4051 - acc: 0.8346
Epoch 20/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4046 - acc: 0.8345
Epoch 21/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4041 - acc: 0.8351
Epoch 22/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.4037 - acc: 0.8359
Epoch 23/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4038 - acc: 0.8355
Epoch 24/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.4032 - acc: 0.8346
Epoch 25/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4032 - acc: 0.8360
Epoch 26/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4031 - acc: 0.8356
Epoch 27/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4028 - acc: 0.8351
Epoch 28/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4026 - acc: 0.8342
Epoch 29/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4025 - acc: 0.8357
Epoch 30/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4024 - acc: 0.8351
Epoch 31/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4020 - acc: 0.8350
Epoch 32/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4024 - acc: 0.8360
Epoch 33/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4020 - acc: 0.8365
Epoch 34/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.4017 - acc: 0.8337
Epoch 35/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4019 - acc: 0.8351
Epoch 36/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.4017 - acc: 0.8354
Epoch 37/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.4015 - acc: 0.8347
Epoch 38/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4017 - acc: 0.8349
Epoch 39/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.4015 - acc: 0.8359
Epoch 40/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.4014 - acc: 0.8335
Epoch 41/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4012 - acc: 0.8352
Epoch 42/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.4010 - acc: 0.8359
Epoch 43/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4010 - acc: 0.8351
Epoch 44/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.4011 - acc: 0.8355
Epoch 45/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.4010 - acc: 0.8355
Epoch 46/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.4007 - acc: 0.8342
Epoch 47/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.4007 - acc: 0.8354
Epoch 48/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.4010 - acc: 0.8349
Epoch 49/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.4007 - acc: 0.8344
Epoch 50/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.4010 - acc: 0.8341
Epoch 51/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.4002 - acc: 0.8355
Epoch 52/100
8000/8000 [==============================] - 1s 100us/step - loss: 0.4010 - acc: 0.8359
Epoch 53/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4007 - acc: 0.8355
Epoch 54/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4002 - acc: 0.8347
Epoch 55/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.4004 - acc: 0.8354
Epoch 56/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4004 - acc: 0.8346
Epoch 57/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.4006 - acc: 0.8362
Epoch 58/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4003 - acc: 0.8357
Epoch 59/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4002 - acc: 0.8351
Epoch 60/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4002 - acc: 0.8362
Epoch 61/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.4001 - acc: 0.8352
Epoch 62/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.4005 - acc: 0.8340
Epoch 63/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.3999 - acc: 0.8356
Epoch 64/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4003 - acc: 0.8357
Epoch 65/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.4000 - acc: 0.8337
Epoch 66/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.3997 - acc: 0.8360
Epoch 67/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.4001 - acc: 0.8349
Epoch 68/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.4000 - acc: 0.8346
Epoch 69/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.3998 - acc: 0.8369
Epoch 70/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4000 - acc: 0.8354
Epoch 71/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4002 - acc: 0.8349
Epoch 72/100
8000/8000 [==============================] - 1s 100us/step - loss: 0.4000 - acc: 0.8341
Epoch 73/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.3996 - acc: 0.8357
Epoch 74/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.3998 - acc: 0.8359
Epoch 75/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.4001 - acc: 0.8341
Epoch 76/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3996 - acc: 0.8357
Epoch 77/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4000 - acc: 0.8341
Epoch 78/100
8000/8000 [==============================] - 1s 100us/step - loss: 0.4000 - acc: 0.8347
Epoch 79/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.3999 - acc: 0.8345
Epoch 80/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.3994 - acc: 0.8336
Epoch 81/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.3995 - acc: 0.8346
Epoch 82/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.3999 - acc: 0.8349
Epoch 83/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.3998 - acc: 0.8345
Epoch 84/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.3995 - acc: 0.8355
Epoch 85/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3996 - acc: 0.8364
Epoch 86/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.3997 - acc: 0.8355
Epoch 87/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3997 - acc: 0.8349
Epoch 88/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3994 - acc: 0.8360
Epoch 89/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.3996 - acc: 0.8346
Epoch 90/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.3993 - acc: 0.8349
Epoch 91/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3999 - acc: 0.8350
Epoch 92/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3992 - acc: 0.8339
Epoch 93/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3997 - acc: 0.8349
Epoch 94/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.3997 - acc: 0.8354
Epoch 95/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.3997 - acc: 0.8354
Epoch 96/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.3995 - acc: 0.8352
Epoch 97/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.3993 - acc: 0.8361
Epoch 98/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.3998 - acc: 0.8362
Epoch 99/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.3995 - acc: 0.8356
Epoch 100/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.3991 - acc: 0.8362

In [0]:
# Now our ANN model is done and Let's predict the result.

y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [0]:
# Let's make the Confusion Matrix and see if this model is good enought to be delivery to client.

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [41]:
cm

array([[1535,   60],
       [ 249,  156]])

In [42]:

# evaluate the model
scores = classifier.evaluate(X_train, y_train)
print("\n%s: %.2f%%" % (classifier.metrics_names[1], scores[1]*100))

8000/8000 [==============================] - 0s 20us/step

acc: 83.54%

In [43]:
scores

[0.3980326288938522, 0.835375]

In [44]:
#Accuracy
(1545+134)/(1545+50+271+134)

0.8395