## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

### Find out the datatypes of each and every column

### Print top 10 & bottom 10 samples from the dataframe

### Find the shape of the dataset

### Set the index of the dataframe to be the first column

### Use Iloc function to print all the rows of the 3rd column

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

### Using Logical statements for indexing
Print all the columns of row which has class name "Iris-setosa"

### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

### Find out the mean and variance for each column but for class column

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

### Sort the entire dataset according to the column Petal width

### Remove the new column "SepalExtra" from the dataframe

### Print only the rows which has the class to be "Iris-setosa"

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"